# Core
pandas
numpy
scipy

# Visualização
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn
xgboost

# Download de dados
gdown

# Utilidades
joblib
tqdm

# Notebook / ambiente
jupyter
ipykernel

# Performance
pyarrow
fastparquet